<div class="container">
    <header class="header-box">
        <div class="row">
            <div class="col-md-6 header__left">
                <div class="avata">
                    <img src="../Image/avata.jpg">
                </div>
                <div class="info">
                    <br/>
                    <h2> Trần Vũ Hải Vinh</h2>
                    <h4>Interns</h4>
                    <ul id="icon">
                        <li style="padding-right: 1rem "><a href="#" ><i class="fab fa-facebook-f" style="color: gray; font-size : 2rem"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram" style="color: gray; font-size : 2rem"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 header__right" style="margin-top: 3rem;">
                <ul>
                    <li>
                        <span class="overhead">Email</span><br/>
                        haivinhinspirit@gmail.com
                    </li>
                    <li>
                        <span class="overhead">Phone</span><br/>
                        0339733988
                    </li>
                </ul>
                <ul>
                    <li>
                        <span class="overhead">BirthDay</span><br/>
                        07 April,1997
                    </li>
                    <li>
                        <span class="overhead">Location</span><br/>
                        Văn Hội, Đức Thắng, Bắc Từ Liêm, Hà Nội
                    </li>
                </ul>
            </div>
        </div>
    </header>
</div>