<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Làm đông hồ</title>
    <link rel="stylesheet" href="SASS/stopwatch.css">
    <link rel="stylesheet" type="text/css" href="public/CSS/home.css">

</head>
<body>
<button class="col-md-6" value="helo"></button>

</body>