<%- include('head') %>

<link rel="stylesheet" type="text/css" href="/CSS/interests.css">
</head>
<body>
<%- include('header')%>
<div class="container">
    <div class="container-body">
        <div class="row">
            <%- include('slidenav')%>
            <div class="col-10 text-center about">
                <div style="padding: 7rem;">
                        <span class="wow fadeIn" data-wow-delay="0.5s"
                              style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;font-family: 'Tangerine', cursive;color: #F2B410;font-size: 80px;">True
                            Passion</span>
                    <h1 class="wow bounceIn" data-wow-delay="1s"
                        style="visibility: visible; animation-delay: 1s; animation-name: bounceIn;">Interests
                    </h1>

                    <hr class="white" />
                    <p class="wow fadeInUp" data-wow-delay="2s"
                       style="visibility: visible; animation-delay: 2s; animation-name: fadeInUp;"> Have a passion for esports
                    </p>
                    <p class="wow animate__zoomInDown" data-wow-delay="3s"
                       style="visibility: visible; animation-delay: 3s; animation-name: zoomInDown;"> love cooking
                    </p>
                    <p class="wow animate__zoomInLeft" data-wow-delay="4s"
                       style="visibility: visible; animation-delay: 4s; animation-name: zoomInLeft;"> love singing and music
                    </p>
                    <p class="wow animate__zoomInRight" data-wow-delay="5s"
                              style="visibility: visible; animation-delay: 5s; animation-name: zoomInRight;"> love animals
                    </p>
                    <p class="wow animate__jackInTheBox" data-wow-delay="6s"
                       style="visibility: visible; animation-delay: 6s; animation-name: jackInTheBox;">Like to communicate and talk to people like in 1975 !!!
                    </p>
                    <p class="wow animate__zoomInUp" data-wow-delay="7s"
                       style="visibility: visible; animation-delay: 7s; animation-name: zoomInUp;"> ------------------------
                    </p>
                    <h3 class="wow animate__flipInX" data-wow-delay="8s"
                       style="visibility: visible; animation-delay: 8s; animation-name: flipInX;"> Thank for reading !!!
                    </h3>

                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script type="text/javascript">
    new WOW().init();
</script>

