<%- include('head') %>
<link rel="stylesheet" type="text/css" href="/CSS/resume.css">

</head>
<body>
<%- include('header')%>
<div class="container">
    <div class="container-body">
        <div class="row">
            <%- include('slidenav')%>
            <div class="col-10 resume" style="background-color: white;border-radius: 2rem;padding :2rem;margin-top: 1.5rem">
                <div class="resume__time" style="display: flex">
                <i class="fas fa-graduation-cap" style="font-size: 5rem"></i><h2 style="margin-left: 1rem">Education</h2>
                </div>
                <div class="timeline">
                <ul>
                    <li>
                        <div class="noi_dung">
                            <h3>Ninh Binh school</h3>
                            <h8><u>Before - 2015</u> </h8>
                            <p>
                                as born and raised with a passion for computers, technology and electric sports
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="noi_dung">
                            <h3>Hanoi University of Mining and Geology</h3>
                            <h8><u>2015-2020</u></h8>
                            <p>
                                It is a beautiful time in life, studying, working and making friends. help me supplement my knowledge and life experience
                            </p>
                        </div>
                    </li>

                    <li>
                        <div class="noi_dung">
                            <h3>FPT Aptech - Hà Nội</h3>
                            <h8><u>2020 - Present</u></h8>
                            <p>
                                Currently studying at FPT-aptech to pursue his passion
                            </p>
                        </div>
                    </li>
                    <div style="clear:both"></div>
                </ul>
            </div>
                <br/>
                <div class="resume__time" style="display: flex">
                    <i class="fas fa-briefcase" style="font-size: 5rem"></i><h2 style="margin-left: 1rem">Experience</h2>
                    <br/>
                </div>
                <div class="timeline">
                    <ul>
                        <li>
                            <div class="noi_dung">
                                <h3>Event LG & OMO matic</h3>
                                <h8><u>2015-2016</u></h8>
                                <p>
                                  I Participate LG and Omo event to introduce electronic products.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="noi_dung">
                                <h3>Sell Iphone</h3>
                                <h8><u>2017-2018</u></h8>
                                <p>
                                    Research and sell iphone products.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="noi_dung">
                                <h3>Developer front end</h3>
                                <h8><u>2021-2022</u></h8>
                                <p>
                                    Research and development.
                                </p>
                            </div>
                        </li>
                        <div style="clear:both"></div>
                    </ul>
                </div>

        </div>
     </div>
    </div>
</div>
<script>

    // var boxnav = $('.box-nav');
    // window.addEventListener('scroll', () => {
    //     if (boxnav.offset().top <= 100) {
    //         boxnav.css('position', 'fixed');
    //     } else boxnav.css('top', '15rem');

    // });

</script>