
<aside class ="col-lg-2 box-nav">
    <div class="sidebar box sticky-column is_stuck" >
        <ul class="nav__item" >
            <li>
                <a href="/about" class="active"><button><i class="fas fa-user"></i><br/><p>ABOUT</p></button></a>
            </li>
            <li>
                <a href="/resume"><button><i class="fas fa-file-medical"></i><br/><p>RESUME</p> </button></a> </li>
            <li>
                <a href="/works"><button><i class="fas fa-network-wired"></i><br/><p>WORKS</p></button></a></li>
            <li>
                <a href="/interests"><button><i class="fas fa-globe-asia"></i><br/><p>INTERESTS</p></button></a> </li>
        </ul>
    </div>
</aside>
<!--<script>-->

<!--    var boxnav = $('.box-nav');-->
<!--    window.addEventListener('scroll', () => {-->
<!--        if (boxnav.offset().top <= 100) {-->
<!--            boxnav.css('position', 'fixed');-->
<!--        } else boxnav.css('top', '15rem');-->

<!--    });-->

<!--</script>-->