<%- include('head') %>
<link rel="stylesheet" type="text/css" href="/CSS/works.css">
<link rel="preconnect" href="https://fonts.gstatic.com">


</head>
<body>
<%- include('header')%>
<div class="container">
    <div class="container-body">
        <div class="row">
            <%- include('slidenav')%>
            <div class="col-10 works">
                <h1>Projec before</h1>
                <hr>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6  wow bounceInLeft"
                         style="visibility: visible; animation-name: bounceInLeft;">
                        <div class="image-container">
                            <img src="../Image/shale-piza.png" style="border-radius: 41rem;max-width: 43rem;max-height: 34rem;">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-6   text-center wow slideInRight"
                         style="visibility: visible; animation-name: slideInRight;">
                        <span style="font-family: 'Tangerine', cursive;color: #F2B410;font-size: 80px;">Discover</span>
                        <h2 class="section-title">OUR Shale-Pizzaass</h2>
                        <p>Is a child from the land of Kong, with the desire to always try to develop himself. I always search for and change myself the latest.</p>
                        <a href="https://shale-pizzaasss.herokuapp.com/" target="_blank" class="btn btn-yellow sans-serif">OUR Pizzaass</a>
                    </div>
                    <div class="col-12 space" style="height: 30px;"></div>
                    <div class="col-12 col-md-6 col-lg-6  wow bounceInLeft"
                        style="visibility: visible; animation-name: bounceInLeft;">
                        <span style="font-family: 'Tangerine', cursive;color: #F2B410;font-size: 80px;text-align: center;">EIU - Library</span>
                        <h2 class="section-title text-center">Tầm nhìn</h2>
                        <p class="text-center">Thư viện Trường Đại học Quốc tế Miền Đông là một thư viện đại học hàng đầu của Việt Nam với phương thức tổ chức quản lý và cung cấp dịch vụ chuẩn mực quốc tế phù hợp với xu hướng phát triển của các thư viện tiên tiến trên thế giới.</p>
                        <div style="display: flex; justify-content: center;align-items: center;">
                            <div></div>
                            <a href="https://lib.eiu.edu.vn/" target="_blank" class="btn btn-yellow sans-serif">OUR EIU-Library</a>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-6   text-center wow slideInRight"
                            style="visibility: visible; animation-name: slideInRight;">
                            <div class="image-container">
                                <img src="../Image/EIU.png" style="border-radius: 41rem;max-width: 43rem;max-height: 34rem;">
                            </div>
                    </div>
                    <div class="col-12 space" style="height: 30px;"></div>
                    <div class="col-12 col-md-6 col-lg-6  wow bounceInLeft"
                         style="visibility: visible; animation-name: bounceInLeft;">
                        <div class="image-container" style="display: flex;justify-content: center; align-items: center;">
                            <img src="../Image/EIUMobile.jpg" style="border-radius: 41rem;max-width: 43rem;max-height: 34rem;">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-6   text-center wow slideInRight"
                         style="visibility: visible; animation-name: slideInRight;">
                        <span style="font-family: 'Tangerine', cursive;color: #F2B410;font-size: 80px;">EIU-Mobile</span>
                        <h2 class="section-title">Ứng dụng mobile dành cho sinh viên EIU</h2>
                        <p>Giúp phát triển thư viện và thay thể thẻ cứng cũng như nhiều nghiệp vụ khác rút ngắn khoảng cách giữa thư viện và sinh viên.</p>
                        <!-- <a href="https://lib.eiu.edu.vn/" target="_blank" class="btn btn-yellow sans-serif">OUR EIU-Mobile</a> -->
                    </div>
                    <div class="col-12 space" style="height: 30px;"></div>
                    <div class="col-12 col-md-6 col-lg-6  wow bounceInLeft"
                        style="visibility: visible; animation-name: bounceInLeft;">
                        <span style="font-family: 'Tangerine', cursive;color: #F2B410;font-size: 80px;text-align: center;">OER Front-End</span>
                        <h2 class="section-title text-center">Tài nguyên giáo dục mở - Open Educational Resources (OER)</h2>
                        <p class="text-center">Mục tiêu xây dựng nền tảng OVETR nhằm thúc đẩy việc sản xuất và chia sẻ nguồn tài nguyên học liệu số, thiết lập và thử nghiệm cơ chế sandbox cho việc quản lý và vận hành kho học liệu dùng chung, từ đó rút ra bài học kinh nghiệm tạo tiền đề phát triển và mở rộng nền tảng OVETR cho toàn hệ thống GDNN Việt Nam trong tương lai.</p>
                        <div style="display: flex; justify-content: center;align-items: center;">
                            <div></div>
                            <a href="https://oer.dlcorp.com.vn/" target="_blank" class="btn btn-yellow sans-serif">OUR OER Front-End</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6  wow bounceInLeft"
                         style="visibility: visible; animation-name: bounceInLeft;">
                        <div class="image-container" style="display: flex;justify-content: center; align-items: center;">
                            <img src="../Image/oer-font-end.png" style="border-radius: 41rem;max-width: 43rem;max-height: 34rem;">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-6   text-center wow slideInRight"
                            style="visibility: visible; animation-name: slideInRight;">
                            <div class="image-container">
                                <img src="../Image/oer-admin.png" style="border-radius: 41rem;max-width: 43rem;max-height: 34rem;">
                            </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6   text-center wow slideInRight"
                         style="visibility: visible; animation-name: slideInRight;">
                        <span style="font-family: 'Tangerine', cursive;color: #F2B410;font-size: 80px;">OER-ADMIN</span>
                        <h2 class="section-title">Trang quản trị của OER</h2>
                        <p> Giúp quản trị viên dễ dàng phát triển bảo hành và cập nhật thông tin.</p>
                        <!-- <a href="https://lib.eiu.edu.vn/" target="_blank" class="btn btn-yellow sans-serif">OUR EIU-Mobile</a> -->
                    </div>
                    <div class="col-12 space" style="height: 30px;"></div>
                    <div class="col-12 col-md-6 col-lg-6  wow bounceInLeft"
                        style="visibility: visible; animation-name: bounceInLeft;">
                        <span style="font-family: 'Tangerine', cursive;color: #F2B410;font-size: 80px;text-align: center;">VIET-UC </span>
                        <h2 class="section-title text-center">Trường Liên Cấp Việt Úc</h2>
                        <p class="text-center">Dự án phát triển nhằm số hóa giáo dục, đưa giáo dục tới gần học sinh hơn.</p>
                        <div style="display: flex; justify-content: center;align-items: center;">
                            <div></div>
                            <a href="https://tienganhtoan.com/" target="_blank" class="btn btn-yellow sans-serif">OUR VIET-UC EDU</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6  wow bounceInLeft"
                         style="visibility: visible; animation-name: bounceInLeft;">
                        <div class="image-container" style="display: flex;justify-content: center; align-items: center;">
                            <img src="../Image/vietuc.png" style="border-radius: 41rem;max-width: 43rem;max-height: 34rem;">
                        </div>
                    </div>
                    <div class="col-12 space" style="height: 30px;"></div>
                    <div class="col-12 col-md-6 col-lg-6   text-center wow slideInRight"
                            style="visibility: visible; animation-name: slideInRight;">
                            <div class="image-container">
                                <img src="../Image/VNU_MObile.jpg" style="border-radius: 41rem;max-width: 43rem;max-height: 34rem;">
                            </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6   text-center wow slideInRight"
                            style="visibility: visible; animation-name: slideInRight;">
                        <span style="font-family: 'Tangerine', cursive;color: #F2B410;font-size: 80px;">VNU-Mobile</span>
                        <h2 class="section-title">Ứng dụng mobile dành cho sinh viên VNU</h2>
                        <p>Giúp phát triển thư viện và thay thể thẻ cứng cũng như nhiều nghiệp vụ khác rút ngắn khoảng cách giữa thư viện và sinh viên.</p>
                        <!-- <a href="https://lib.eiu.edu.vn/" target="_blank" class="btn btn-yellow sans-serif">OUR EIU-Mobile</a> -->
                    </div>
                    <div class="col-12 space" style="height: 30px;"></div>
                    <div class="col-12 col-md-6 col-lg-6  wow bounceInLeft"
                        style="visibility: visible; animation-name: bounceInLeft;">
                        <span style="font-family: 'Tangerine', cursive;color: #F2B410;font-size: 80px;text-align: center;">NEU - Library</span>
                        <h2 class="section-title text-center">Giới thiệu chung</h2>
                        <p class="text-center">Trung tâm Thông tin – Thư viện là đơn vị sự nghiệp có tư cách pháp nhân, thực hiện chức năng tham mưu, giúp Hiệu trưởng quản lý hoạt động Thư viện của Trường. Trung tâm được thực hiện quyền tự chủ, tự chịu trách nhiệm theo phân cấp quản lý của Hiệu trưởng.</p>
                        <div style="display: flex; justify-content: center;align-items: center;">
                            <div></div>
                            <a href="https://neulib.neu.edu.vn/" target="_blank" class="btn btn-yellow sans-serif">OUR EIU-Library</a>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-6   text-center wow slideInRight"
                            style="visibility: visible; animation-name: slideInRight;">
                            <div class="image-container">
                                <img src="../Image/NEU.png" style="border-radius: 41rem;max-width: 43rem;max-height: 34rem;">
                            </div>
                    </div>

               

                <div class="col-12 space" style="height: 30px;"></div>
                </div>
                <div class="background-icon">
                            <div class="row">
                                <div class="col-md-6 text-center wow slideInLeft">
                                    <p><h4 style="font-family: 'Tangerine', cursive;color: #F2B410;font-size:5rem">Thanks for reading !!! </h4><br/>
                                        Have a good day ^^!</p>
                                </div>
                                <div class="col-md-6 wow lightSpeedInLeft">
                                    <div>
                                        <img id="icon" class="ship-hang"
                                             src="../Image/giaohang.jpg">
                                    </div>
                                </div>
                            </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script type="text/javascript">
    new WOW().init();
</script>
<script>

    // var boxnav = $('.box-nav');
    // window.addEventListener('scroll', () => {
    //     if (boxnav.offset().top <= 100) {
    //         boxnav.css('position', 'fixed');
    //     } else boxnav.css('top', '15rem');

    // });

</script>