.works {
  background-color: white;
  margin-top: 1.5rem;
  border-radius: 2rem;
  padding: 2rem; }
  .works hr {
    width: 23rem;
    color: #304cfd; }
  .works .btn.btn-yellow {
    position: relative;
    color: #fff;
    background-color: #F2B410;
    border-color: #F2B410;
    font-weight: 700;
    padding: 18px 32px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 2px; }
  .works .btn.btn-yellow::before {
    display: block;
    content: '';
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    border: 1px solid rgba(255, 255, 255, 0.7); }
  .works .btn.btn-yellow:hover {
    box-shadow: none;
    background-color: #F39C12 !important; }
  .works .background-icon {
    padding-top: 11rem; }
